<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <!--<system.data>
    <DbProviderFactories>
      <add invariant="SQNil" 
           name="SQNil Data Provider" 
           description=".Net Framework Data Provider for SQNil" 
           type="System.Data.SqNil.SqNilDbProviderFactory, System.Data.SQNil, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ef4d8ecab96f79a2" />
    </DbProviderFactories>
  </system.data>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
